    body {
    margin-top: 1rem;
    background: #e4e4e4;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    background: #008cd5;
    width: 30rem;
    height: 35rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px 1px #0000028f;
    color: #fff;
}

h1 {
    font: 500 15pt Arial;
}


.info-info {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

input {
    padding-left: .5rem;
    width: 18rem;
    height: 1.5rem;
    border: none;
    border-radius: .5rem;
    font: 500 11pt Arial;
}

label {
    font: 300 11pt Arial;
    margin: .2rem 0 .2rem 0;
}

#btn {
    text-transform: uppercase;
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    width: 12rem;
    height: 3rem;
    background: #dadada;
    cursor: pointer;
    font: 600 10pt Georgia;
    transition: .5s;
    box-shadow: 1px 1px 10px 1px #0000007e;
}

#btn:hover {
    background: #00b418;
    box-shadow: 1px 1px 10px 1px #018d13;
    color: #ffffff;
}

.d15 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    align-items: center;
}

#imgd15 {
    width: 18rem;
    height: 7rem;
    background-repeat: no-repeat;
    background-image: url("https://dquinze.com.br/backoffice/uploads/loja/logo/droga151.png");
}

#text-d15 {
    margin-top: 1rem;
    font: 600 12pt Arial;
    color: #000;
    text-transform: uppercase;
}

#cep {
	margin: auto;
	width: 5rem;
	color: red;
}

#rua {
	margin-top: .5rem;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 5rem;
}

#copy {
    margin: auto;
    color: #000;
    font: 600 10pt Arial;
}

@media screen and (max-width: 800px) {

body {
        margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    width: 25rem;
    height: 33.5rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px 1px #0000008f;
    color: #fff;
    font: 100 10pt Arial;
    margin: auto;
}

h1 {
    margin: .5rem 0 0 0;
}

label {
    margin: .2rem 0 .2rem 0;
}

p {
    position: relative;
    padding: 0;
    margin: .5rem 0 0 0;
    font: 500 12pt Arial;
    color: #fff;
    text-align: center;

}

.d15 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    align-items: center;
}

#imgd15 {
    width: 19rem;
    height: 6.5rem;
}

#text-d15 {
    font: 400 7pt Arial;
    color: #000;
}

footer {
    margin-top: 1rem;
}

#copy {
    color: #000;
    font: 600 8pt Arial;
}

}

@media screen and (max-width: 450px) {
   .info {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    width: 20rem;
    height: 33rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px 1px #0000008f;
    color: #fff;
    font: 100 10pt Arial;
    margin: auto;
}

input {
    padding-left: .5rem;
    width: 15rem;
    height: 1.5rem;
    border: none;
    border-radius: .5rem;
    font: 500 7pt Arial;
}

label {
    font: 300 8pt Arial;
    margin: .2rem 0 .2rem 0;
}

#btn {
    width: 10rem;
    height: 2rem;
    font: 600 8pt Arial;
    padding-top: .6rem;
    background: #00b418;
    box-shadow: 1px 1px 10px 1px #018d13;
    color: #ffffff;
}

}
